<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306317208049-glf747a8l8j0i25295d9bnioeqg9bnar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306317208049-glf747a8l8j0i25295d9bnioeqg9bnar</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ5-OkUvxvkrqd_DJKT5E2Ykc0CTtIJrI</string>
	<key>GCM_SENDER_ID</key>
	<string>306317208049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-a598f</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-a598f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306317208049:ios:a211630cab26a315ac7c50</string>
</dict>
</plist>